{% extends 'blog/blog_base.html' %}
{% block main %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.content }}
    <button type="submit">送信</button>
    {{ form.media }}
  </form>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    const elements = document.getElementsByClassName('markdownx');
    for (element of elements) {
      element.addEventListener('markdownx.update', event => {
        for (const block of document.querySelectorAll('pre code')) {
          hljs.highlightBlock(block);
        }
      });
    }
  </script>
{% endblock %}
